.contact__section {
  margin: 140px 0 55px;
  z-index: 0;
  position: relative;

  .contact__section__content {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    position: relative;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 20px;
    padding-left: 70px;
    padding-right: 70px;

    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    h2 {
      font-size: 2.125rem;
      line-height: 100%;
      font-weight: 600;
      letter-spacing: 0;
      max-width: 250px;

      margin: 0 0 40px;
      margin-left: 53px;
      margin-right: 36px;
      align-self: center;
      grid-column: span 6 / span 6;
      color: var(--blue-color);
    }

    .contact__cards {
      display: flex;
      max-width: 954px;
      width: 100%;
      grid-column: span 6 / span 6;
      
      .contact-card {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        border: 1px solid rgba(20, 35, 220, .2);

        &:not(:last-child) {
          border-bottom: 1px solid rgba(20, 35, 220, .2);
          border-right: none;
        }

        padding: 30px 40px;
        display: block;
        height: 100%;
        width: 100%;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        flex-flow: row wrap;
        color: var(--blue-color);
        -webkit-box-align: center;
        align-items: center;

        img {
          margin-bottom: 45px;
          object-fit: contain;
          -o-object-position: center;
          object-position: center;
          width: 50px;
          height: 50px;
        }

        span {
          width: 100%;
          margin: 0 0 20px;
          display: block;
          font-size: 1.62rem;
          font-weight: 400;
          line-height: 110%;
          letter-spacing: 0;
        }

        p {
          margin: 0;
          max-width: 355px;
          font-weight: 400;
          font-size: .9375rem;
          line-height: 150%;
          color: #000;
        }

        &:hover {
          color: #fff;
          background-color: var(--blue-color);
          transition: color .4s cubic-bezier(.77,0,.175,1);
          cursor: pointer;

          p {
            color: #fff;
          }
        }
      }
    }
  }
}