.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: var(--color-blue);
  padding-top: 120px;
  color: var(--color-beige);

  .hero__content {
    padding: 20px 70px;
    max-width: 80%;
    z-index: 999;
    position: relative;

      .hero__title {
        font-size: 3.3rem;
        font-weight: 800;
        margin-bottom: 30px;
      }

      .hero__description {
        padding-left: 100px;
        max-width: 60%;
        font-weight: 400;
        margin-bottom: 20px;
        line-height: 1.5rem;
      }
  }

  img {
    position: absolute;
    width: 50%;
    bottom: 0;
    right: 0;
    z-index: 998;
  }
}