.navbar {
  position: sticky;
  padding: 50px 80px;
  z-index: 5001;
  width: 100%;
  height: 80px;
  background-color: var(--nav-background-color);
  color: var(--nav-text-color);
  transition: background-color 0.2s ease;

  .header__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1440px;
    height: 100%;

    .header__logo {
      img {
        max-width: 100px;
      }
    }

    .btn {
      background: transparent;
      color: var(--nav-text-color);
      border: 1px solid var(--color-beige);
      border-radius: 2.8rem;
      height: 2.8rem;
      padding: 0 1.5rem;
      cursor: pointer;
      font-family: 'Public Sans', sans-serif;
      font-size: 1rem;
      transition: background-color 0.2s ease, color 0.2s ease;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;

      &:hover {
        background-color: var(--color-beige);
        color: var(--nav-background-color);
      }
    }

    .create__propal__btn {
      @extend .btn;
      margin-left: 5rem;
    }

    .header__menu {
      margin-left: auto;
      display: flex;
      align-items: center;

      .menu-nav {
        display: flex;

        .menu-nav__list {
          display: flex;
          align-items: center;
          gap: 2.2rem;

          a {
            color: var(--nav-text-color);
            text-decoration: none;
            font-size: 1.1rem;
            font-family: 'Public Sans', sans-serif;
          }

          .lang__switcher {
            @extend .btn;
            padding: 0.5rem 1rem; 
          }
        }
      }
    }
  }
}
