.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #fff;
  z-index: 999;
  transition: all 0.3s ease;
  padding: 0 20px;

  @media screen and (min-width: 1080px) {
    padding: 0 80px;
    background-color: var(--nav-background-color);

    .navbar__logo img {
      content: url('/public/assets/logo.png');
    }
  }

  &.scrolled {
    border-bottom: .5px solid var(--color-beige);
    background-color: #fff;

    .navbar__logo img {
      content: url('/public/assets/logo_amarillo.png');
    }
    
    button {
      border: .5px solid var(--nav-background-color);
      color: var(--nav-background-color);
    }

    .navbar__menu li a {
      color: var(--nav-background-color);
    }

    .burger {
      border: none;
    }

    .line {
      background-color: var(--nav-background-color);
    }    
  }

  .navbar__container {
    width: 100%;
    max-width: 1400px;
    height: 100%;
    justify-self: center;
    display: flex;
    align-items: center;
  }

  .navbar__logo img {
    max-width: 120px;
  }

  .button {
    background: transparent;
    border: .5px solid var(--color-beige);
    border-radius: 2rem;
    padding: .6rem 1.5rem;
    color: var(--nav-text-color);
    font-size: 1rem;

    img {
      width: 1.4rem;
    }

    &:hover {
      background: var(--color-beige);
      color: var(--nav-background-color);
      cursor: pointer;
    }
  }

  .navbar__cta {
    margin-left: auto;
    display: flex;
    align-items: center;
    border: .5px solid var(--blue-color);

    span {
      display: none;
    }

    @media screen and (min-width: 1080px) {
      margin-left: 2rem;
      gap: .5rem;
      border: .5px solid var(--color-beige);

      span {
        display: block;
      }

      img {
        transition: opacity 0.3s ease;
      }
    }
  }

  .navbar__cta, .phone__number,
  .lang__switcher {
    @extend .button;
    display: flex;
    align-items: center;
    gap: .5rem;
  }

  .phone__number {

    span {
      display: none;
    }

    @media screen and (min-width: 1280px) {
      display: flex;

      span {
        display: block;
      }
    }
  }

  .burger {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 1rem;

    .line {
      width: 25px;
      height: 2px;
      background-color: var(--blue-color);
      transition: 0.3s;
    }

    &.open {
      .line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
      }
      .line:nth-child(2) {
        opacity: 0;
      }
      .line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
      }
    }

    @media (min-width: 1080px) {
      display: none;
    }
  }

  .navbar__menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    transform: translateY(-100%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    background-color: var(--nav-background-color);
  
    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      gap: 1.1rem;
  
      li a {
        color: white;
        text-decoration: none;
        font-size: 1.1rem;
        background: none;
        border: none;
        cursor: pointer;
        position: relative;
        overflow: hidden;
  
        &::after {
          content: "";
          position: absolute;
          bottom: -5px;
          left: 0;
          height: .8px;
          width: 0%;
          background-color: currentColor;
          transition: width 0.3s ease-in-out;
        }
  
        &:hover::after {
          width: 100%;
        }
      }
    }
  
    &.open {
      transform: translateY(0);
      opacity: 1;
      visibility: visible;
    }
  
    @media (min-width: 1080px) {
      position: relative;
      margin-left: auto;
      width: auto;
      height: auto;
      opacity: 1;
      visibility: visible;
      padding: 0;
      transform: translateY(0);
      background-color: transparent;
  
      ul {
        flex-direction: row;
        align-items: center;
      }
    }
  }  
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}
