footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 50px;
    background-color: #ebf2fb;
    z-index: 2;

    @media screen and (max-width: 1080px) {
        padding: 40px 20px;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    a {
        text-decoration: none;
        color: var(--blue-color);
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;

        .top__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 1080px) {
                flex-direction: column;
                align-items: flex-start;
            }

            .logo {
                flex: 1;
                align-self: flex-start;
            
                img {
                    max-width: 110px;
                }
            }

            .terms {
                flex: 1;
                display: flex;
                justify-content: center;
                gap: 20px;
                font-size: 14px;
                color: var(--blue-color);
                font-weight: 400;

                @media screen and (max-width: 1080px) {
                    flex-direction: column;
                    align-items: flex-start;
                }
            }

            .social {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                gap: 20px;

                img {
                    width: 30px;
                    height: 30px;
                    transition: all 0.3s ease-in-out;
                }

                @media screen and (max-width: 1080px) {
                    margin-top: 40px;
                }
            }
        }

        .bottom__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #d9d9d9;
            font-size: 14px;
            color: var(--blue-color);
            font-weight: 400;
            
            @media screen and (max-width: 1080px) {
                flex-direction: column;
                align-items: flex-start;
                gap: 10px;
            }
        }
    }
}