footer {
    position: relative;
    width: 100%;
    height: auto;
    padding: 20px 50px;
    background-color: #ebf2fb;
    z-index: 2;

    a {
        text-decoration: none;
        color: var(--blue-color);
    }

    .footer__wrapper {
        display: flex;
        flex-direction: column;

        .top__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .logo {
                flex: 1;
            
                img {
                    max-width: 130px;
                }
            }

            .terms {
                flex: 1;
                display: flex;
                justify-content: center;
                gap: 20px;
                font-size: 14px;
                color: var(--blue-color);
                font-weight: 400;
            }

            .social {
                flex: 1;
                display: flex;
                justify-content: flex-end;
                gap: 20px;
            }
        }

        .bottom__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #d9d9d9;
            font-size: 14px;
            color: #333;
            font-weight: 400;
        }
    }
}