.line__container {
  position: relative;
}

.animated__line {
  position: absolute;
  bottom: 0;
  left: 20px;
  width: 10%;
  z-index: 998;

  path {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    transition: stroke-dashoffset .1s ease-out;

    &.draw {
      stroke-dashoffset: 0;
    }
  }
}
