@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }

  scroll-behavior: smooth;
}

:root {
  /*--blue-color: #1423DC;*/
  --blue-color: #426390;
  --blue-color-light: #426390;

  --nav-background-color: #426390;
  --nav-text-color: #fff;
  --color-beige: #E3E3E3;

  --separator-width: .5px;
  --separator-height: 40px;

  --hero-grid-template-areas: "title media" "text media" "btn media";
  --hero-main-color: #426390;
  --hero-secondary-color: #fff;
  --hero-padding: 40px 0 0;
  
  --hero-title-margin: 0 0 0 245px;
  --hero-title-margin-responsive: 0 0 0 80px;
  --hero-title-width: 740px;

  --hero-text-margin: 80px 0 30px 245px;
  --hero-text-margin-responsive: 80px 0 30px 80px;
  --hero-text-padding: 0;
  --hero-text-width: 310px;

  --hero-media-margin: 20px auto 0 0;
  --hero-media-width: 775px;
  --hero-media-height: 560px;
}