* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Public Sans', sans-serif;

  a {
    text-decoration: none;
  }

  li {
    list-style: none;
  }
}

:root {
  --blue-color: #1423DC;

  --nav-background-color: #1423DC;
  --nav-text-color: #fff;
  --color-beige: #E3E3E3;

  --separator-width: .5px;
  --separator-height: 40px;

  --hero-grid-template-areas: "title media" "text media" "btn media";
  --hero-main-color: #1423DC;
  --hero-secondary-color: #fff;
  --hero-padding: 60px 0 0;
  
  --hero-title-margin: 0 0 0 84px;
  --hero-title-width: 870px;

  --hero-text-margin: 50px 0 30px 275px;
  --hero-text-padding: 0;
  --hero-text-width: 310px;

  --hero-media-margin: 20px auto 0 0;
  --hero-media-width: 780px;
  --hero-media-height: 560px;
}