.service__page {
  width: 100%;
  height: 100vh;
  padding: 70px;

  .services__title {
    padding: 20px 50px;

    h1 {
      font-size: 2.5rem;
      font-weight: 800;
      color: var(--color-blue);
      margin-bottom: 50px;
    }
  }

  .services__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
}