.service__page {
  overflow: hidden;
  position: relative;
  padding: 0 0 70px 0;

  svg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    padding-left: 70px;
  }

  .service__content {
    position: relative;
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    column-gap: 20px;
    width: 100%;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;

    .services__title {
      grid-column: 2 / 10;
      z-index: 1;
      position: relative;
  
      h2 {
        padding-right: 20px;
        margin: 0;

        font-weight: 700;
        font-size: 3.15rem;
        color: var(--blue-color);
        margin-block-start: 0.83em;
        margin-block-end: 0.83em;

        @media screen and (max-width: 1080px) {
          font-size: 2.5rem;
          font-weight: 600;
        }

        &::before {
          content: "";
          height: 100%;
          width: 81%;
          display: block;
          position: absolute;
          left: -20px;
          top: 0;
          z-index: -1;
          background-color: #fff;
        }
      }
    }
  }

  .service__cards {
    position: relative;
    z-index: 1;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
    grid-column: span 12 / span 12;

    padding: 50px 30px;
    margin-left: auto;
    overflow: hidden;
    list-style: none;

    .services__container {
      background-color: #fff;
      height: auto;

      position: relative;
      width: 100%;
      display: flex;

      flex-wrap: wrap;
      transition-property: transform;
      box-sizing: content-box;

      @media screen and (max-width: 1080px) {
        overflow-x: auto;
        flex-wrap: nowrap;
        -webkit-overflow-scrolling: touch;
      
        // Cacher la scrollbar (Chrome, Safari)
        &::-webkit-scrollbar {
          display: none;
        }
      
        // Firefox
        scrollbar-width: none;
      }      

      li {
        -webkit-box-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: auto;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-flow: column wrap;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        margin-left: 0;
        color: var(--blue-color);
        border: .5px solid var(--blue-color-lighter);
        transition: all 0.3s ease-in-out;

        &:hover {
          background-color: var(--blue-color);
          cursor: pointer;
          color: #fff;
        }

        @media screen and (min-width: 1080px) {
          li:not(:last-child) {
            border-right: none;
          }
        }
      }
    }
  }
}