.banner-container {
  display: flex;
  align-items: center;
  gap: 50px;
  border-bottom: 1px solid rgba(20, 35, 220, .2);
  background-color: #fff;
  padding: 20px 70px;
  color: #1e1bff;
  font-family: 'Segoe UI', sans-serif;
  transition: all 0.3s ease;
}

.pause-btn {
  background: transparent;
  border: none;
  color: #1e1bff;
  display: flex;
  align-items: center;
  cursor: pointer;

  .pause-icon {
    width: 25px;
    height: 25px;
    margin-right: 15px;
  }

  // Réserve une largeur fixe pour le texte du bouton
  &::after {
    content: attr(data-text);
    visibility: hidden;
    height: 0;
    overflow: hidden;
    display: inline-block;
    font-weight: inherit;
    font-size: inherit;
  }

  .btn-label {
    font-size: 1rem;
    font-weight: lighter;
    display: inline-block;
    width: 10px; // ajustable selon les longueurs max
    text-align: left;
  }

  .fade {
    opacity: 0;
    animation: fadeIn 0.3s ease forwards;
  }
  
  @keyframes fadeIn {
    to {
      opacity: 1;
    }
  }  
}

hr {
  width: var(--separator-width);
  height: var(--separator-height);
  background: rgba(20, 35, 220, .2);
  margin: var(--separator-margin);
  border: 0;
}

.banner-text-wrapper {
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  height: 24px;
}

.banner-text {
  position: absolute;
  width: 100%;
  animation: slideIn 0.5s ease forwards;
  font-size: 18px;
  font-weight: 550;
  white-space: nowrap;
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease;
  }
}