.banner__container {
  width: 100vw;
  min-height: 100px;
  display: flex;
  align-items: center;
  padding: 0 20px 0 40px;
  background-color: #fff;
  color: var(--blue-color);
  border-bottom: .5px solid rgba(20, 35, 220, .2);
  position: relative;
  z-index: 2;
  transition: all 0.3s ease;

  @media screen and (min-width: 780px) {
    padding: 0 40px 0 60px;
  }

  @media screen and (min-width: 1080px) {
    min-height: 100px;
    padding: 0 80px 0 100px;
  }

  hr {
    width: var(--separator-width);
    height: var(--separator-height);
    background: rgba(20, 35, 220, .2);
    border: 0;
    margin: 0 20px 0 10px;

    @media screen and (min-width: 1080px) {
      margin: 0 40px 0 40px;
    }
  }

  .pause__btn {
    flex: 1 5%;
    position: relative;
    border: none;
    background: transparent;
    color: var(--blue-color);
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: 350;
  
    svg {
      position: inherit;
      width: auto;
      margin: 0 1rem 0 0;
      padding: 0;
      font-size: 1.2rem;
      color: var(--yellow-color);
    }
  
    span {
      display: none;
      min-width: 8.2ch;
      text-align: left;
      transition: all 0.2s ease;
    }
  
    @media screen and (min-width: 1080px) {
      span {
        display: inline-block;
      }
    }
  }  

  .banner__text__wrapper {
    flex: 1 95%;

    .banner__text {
      font-size: 1.2rem;
      font-weight: 550;
      animation: slideIn 0.5s ease forwards;

      @media screen and (min-width: 780px) {
        font-size: 1.4rem;
      }
    }
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateX(100%);
    transition: all 0.3s ease;
  }
  to {
    opacity: 1;
    transform: translateX(0);
    transition: all 0.3s ease;
  }
}
